p{
    font-family: DM Serif Text;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    font-family: DM Serif Text;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 1000px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(247, 247, 247);
}